.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  background: #fff; /* цвет бэка */
  border: 1px solid #999; /* Рамка */
  float: left; /* Привязка к расположению */
  font-size: 24px; /* Размер шрифта */
  font-weight: bold; /* Тип шрифта */
  line-height: 34px; /* Высота линии */
  height: 34px; /* Общая высота элемента */
  margin-right: -1px; /* Смещение элемента на 1 пиксел влево */
  margin-top: -1px; /* Смещение элемента на 1 пиксель наверх */
  padding: 0; /* Обнуление отступов */
  text-align: center; /* Выставление текста по центру */
  width: 34px; /* Установка ширины */
}

.row{
  display: flex;
}

.status{
  float: left;
  font-family: monospace;
}